.top-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.top-title a {
    color: green;
    background-color: #fff;
    border: 2px solid green;
    padding: 0 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.deleteBtn {
    color: red;
    border-style: dashed;
    border-width: 1px;
    border-color: red;
    background-color: white;
    cursor: pointer;
    margin-right: 1rem;
}

.editBtn {
    color: green;
    border-style: dashed;
    border-width: 1px;
    border-color: green;
    background-color: white;
    cursor: pointer;
}
